html,
body,
#root {
  height: 100%;
}

.game {
  text-align: center;
  width: 100%;
  padding: 16px;
  background-color: lightsteelblue;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &.player-loses {
    background-color: lightsalmon;
  }

  &.player-wins {
    background-color: lightgreen;
  }

  .game-status-text span {
    color: red;
    font-weight: bolder;
  }

  .option-buttons {
    button {
      margin: 4px;
    }
  }

  .hidden-animal {
    margin: 16px 0;

    .name {
      text-transform: uppercase;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: 400px;
      border-radius: 8px;
    }
  }
}
